.signup-screen {
    background-color: #3598dc;
    margin: auto;
    top: 200px;
    left: 150px;
    right: 200px;
    bottom: 50px;
    position: fixed;
}

.signup-screen__form {
    background-color: white;
    position: absolute;
    top: 22%;
    left: 35%;
    padding: 3em;
}

.signup-screen__title {
    text-align: center;
    margin-bottom: 10px;
}

.signup-screen__subtext {
    font-size: 0.7rem;
    display: block;
    margin: 0.5rem 0;
}
